

.play-ground{
    display: grid;
    margin: auto;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
}

